$blue: #1e71bb;
$black: #000000;
$dark-grey: #1d1d1b;

.article {
  display: flex;
  flex-direction: column;
  width: 344px;
  height: 260px;
  background-color: white;
  border: none;
  border-radius: 10px;
}

.article__details {
  height: 92px;
  margin-left: 17px;
}

.article__image {
  width: 344px;
  height: 168px;
  object-fit: cover;
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.article__category {
  font-weight: 700;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: -0.0153846px;
  text-transform: uppercase;
  color: $blue;
}

.article__title {
  display: flex;
  gap: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.11px;
  width: 300px;
  height: 40px;
  overflow: hidden;
  color: $black;
}

.article__footer {
  display: none;
}

@media only screen and (min-width: 1200px) {
  .article {
    display: flex;
    flex-direction: column;
    width: 321px;
    height: 252px;
    background-color: white;
    border: none;
    border-radius: 10px;
  }

  .article__details {
    height: 112px;
    margin-left: 12px;
  }

  .article__image {
    width: 322px;
    height: 140px;
    object-fit: cover;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .article__title {
    font-weight: 700;
    width: 298px;
    height: 20px;
  }

  .article__favourite {
    display: none;
  }

  .article__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .article__footer > span {
    width: 25px;
    height: 25px;
  }

  .article__author {
    height: 14px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.0675px;
    color: $dark-grey;
    overflow: hidden;
  }
}
