.categorypage__sidebar,
.header__buttons.show-menu,
.categorypage__content.show-menu,
.content__articles > p {
  display: none;
}

.categorypage__main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categorypage__articles {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 42px;
}

.categorypage__sidebar.show-menu {
  display: flex;
}

@media only screen and (min-width: 1200px) {
  .categorypage__main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    margin-top: 24px;
    gap: 25px;
  }

  .categorypage__content {
    display: flex;
  }

  .content__articles {
    display: flex;
    flex-direction: column;
    margin-top: -18px;
  }

  .content__articles > p {
    display: flex;
    vertical-align: text-top;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.153px;
    color: #1d1d1b;
  }

  .categorypage__sidebar {
    display: flex;
  }

  .categorypage__articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 22px;
    width: 1007px;
    margin-bottom: 22px;
    margin-top: 0px;
  }
}
