.sidebar__toggler {
  position: absolute;
  top: 2vh;
  right: 3vw;
  border: none;
}

.homepage {
  display: flex;
  flex-direction: column;
}

.homepage__header {
  margin-top: 1px;
}

.header__buttons {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 10px;
  margin-top: 42px;
}

.tab {
  width: 80px;
  height: 40px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.0246154px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.active-tab {
  border: none;
  background: rgba(187, 30, 30, 0.1);
  border-radius: 20px;
  color: #bb1e1e;
}

.content {
  display: none;
}

.active-content {
  display: flex;
}

.homepage__main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__articles > p {
  display: none;
}

.homepage__sidebar {
  display: none;
}

.homepage__sidebar.show-menu {
  display: flex;
}

@media only screen and (min-width: 1024px) {
  .homepage {
    align-items: center;
  }

  .homepage__header {
    margin-top: 100px;
  }

  .header__border {
    margin-top: 34px;
    width: 1095px;
    height: 1px;
    mix-blend-mode: normal;
    opacity: 0.1;
    border: 1px solid #979797;
  }

  .header__buttons {
    display: none;
  }

  .content {
    display: flex;
  }

  .homepage__main {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 25px;
  }

  .homepage__content {
    display: flex;
  }

  .content__articles {
    display: flex;
    flex-direction: column;
  }

  .content__articles > p {
    display: flex;
    margin-top: 24px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.153px;
    color: #1d1d1b;
  }

  .homepage__sidebar {
    display: flex;
    margin-top: 24px;
  }

  .articles {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 684px;
  }

  .content__latest {
    margin-top: 64px;
  }

  .sidebar__toggler {
    visibility: hidden;
  }
}
