.sidebar__toggler {
  position: absolute;
  top: 4vh;
  right: 8vw;
  border: none;
}

.homepage {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header__banner {
  display: none;
}

.header__buttons {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 10px;
  margin-top: 42px;
}

.tab {
  width: 80px;
  height: 40px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.0246154px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.active-tab {
  border: none;
  background: rgba(187, 30, 30, 0.1);
  border-radius: 20px;
  color: #bb1e1e;
}

.content {
  display: none;
}

.active-content {
  display: flex;
}

.homepage__main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__articles > p {
  display: none;
}

.articles {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.homepage__sidebar {
  display: none;
}

.homepage__sidebar.show-menu {
  display: flex;
}

@media only screen and (min-width: 1024px) {
  .homepage {
    align-items: center;
  }

  .header__banner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #bb1e1e 71.29%, #b21919 99.95%);
    height: 60px;
  }

  .banner__text {
    display: flex;
    gap: 46px;
    margin-right: 370px;
    line-height: 21px;
    color: #ffffff;
  }

  .banner__text > span:first-child {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: -0.136px;
  }

  .banner__text > span:last-child {
    font-size: 14px;
    letter-spacing: -0.119px;
  }

  .banner__buttons {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .button__get {
    width: 69px;
    height: 40px;
    background: #ffffff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #1d1d1b;
    cursor: pointer;
  }

  .button__get:hover {
    background: #f5f3f3;
  }

  .button__no {
    height: 20px;
    background: #bb1e1e;
    border: none;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
  }

  .button__no:hover {
    text-decoration: underline;
  }

  .header__main {
    margin-top: 95px;
  }

  .header__border {
    margin-top: 28px;
    width: 1095px;
    height: 1px;
    mix-blend-mode: normal;
    opacity: 0.1;
    border: 1px solid #979797;
  }

  .header__buttons {
    display: none;
  }

  .content {
    display: flex;
  }

  .homepage__main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    margin-top: 24px;
    gap: 25px;
  }

  .homepage__content {
    display: flex;
  }

  .content__articles {
    display: flex;
    flex-direction: column;
    margin-top: -18px;
  }

  .content__articles > p {
    display: flex;
    vertical-align: text-top;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.153px;
    color: #1d1d1b;
  }

  .homepage__sidebar {
    display: flex;
  }

  .articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 22px;
    width: 684px;
  }

  .content__latest {
    margin-top: 42px;
  }

  .sidebar__toggler {
    visibility: hidden;
  }
}
