$text-color: rgba(0, 0, 0, 0.555);
$text-color-pressed: rgb(189, 6, 6);
$background-hover: rgba(0, 0, 0, 0.05882);
$background-pressed: white;

.sidebar {
  display: flex;
  flex-direction: column;
  width: 63px;
}

.active {
  text-decoration: none;
  width: 63px;
  height: 63px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  background-color: $background-pressed;
  color: $text-color-pressed;
}

.inactive {
  text-decoration: none;
  width: 63px;
  height: 63px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  color: $text-color;
}

.inactive:hover {
  background-color: $background-hover;
}

.sidebar__icon {
  width: 20px;
  height: 20px;
}

.sidebar__text {
  font-size: 10px;
  line-height: 14px;
}
