$text-color: rgba(0, 0, 0, 0.555);
$text-color-pressed: rgb(189, 6, 6);
$background-hover: rgba(0, 0, 0, 0.05882);
$background-pressed: white;

.sidebar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  padding: 15px;
}

.active {
  text-decoration: none;
  width: 95px;
  height: 95px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  background-color: $background-pressed;
  box-shadow: 0px 6px 36px rgba(0, 0, 0, 0.16);
  color: $text-color-pressed;
}

.inactive {
  text-decoration: none;
  width: 95px;
  height: 95px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  color: $text-color;
}

.sidebar__icon {
  width: 24px;
  height: 24px;
}

.sidebar__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.140741px;
}

@media only screen and (min-width: 1024px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    width: 63px;
    gap: 0px;
    padding: 0px;
  }

  .active {
    width: 63px;
    height: 63px;
    box-shadow: none;
  }

  .inactive {
    width: 63px;
    height: 63px;
  }

  .inactive:hover {
    background-color: $background-hover;
  }

  .sidebar__icon {
    width: 20px;
    height: 20px;
  }

  .sidebar__text {
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.1px;
  }
}
