.content,
.homepage__sidebar,
.homepage__content.show-menu,
.header__buttons.show-menu,
.content__articles > p {
  display: none;
}

.tab {
  width: 80px;
  height: 40px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.0246154px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.active-tab {
  border: none;
  background: rgba(187, 30, 30, 0.1);
  border-radius: 20px;
  color: #bb1e1e;
}

.active-content {
  display: flex;
}

.homepage__main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top__articles {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
}

.bottom__articles {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.homepage__sidebar.show-menu {
  display: flex;
}

@media only screen and (min-width: 1200px) {
  .content {
    display: flex;
  }

  .homepage__main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    margin-top: 24px;
    gap: 25px;
  }

  .homepage__content {
    display: flex;
  }

  .content__articles {
    display: flex;
    flex-direction: column;
    margin-top: -18px;
  }

  .content__articles > p {
    display: flex;
    vertical-align: text-top;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.153px;
    color: #1d1d1b;
  }

  .homepage__sidebar {
    display: flex;
  }

  .top__articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 22px;
    margin-bottom: 22px;
    width: 684px;
  }

  .articles__top {
    display: flex;
    flex-direction: row;
  }

  .articles {
    display: flex;
    flex-direction: column;
  }

  .bottom__articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 22px;
    width: 1007px;
  }

  .latest__news {
    display: none;
  }
}
